<!-- 
Il codice contenuto in questo file va copia incollato in un panel di tipo text
in modalita' html
-->

<!-- Stile per rendere la visualizzazione dei json piu' gradevole -->
<div>
	<style>			
	 pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
	 .string { color: green; }
	 .number { color: darkorange; }
	 .boolean { color: blue; }
	 .null { color: magenta; }
	 .key { color: red; }
	</style>

	<!-- Bottoni utili e div in cui inserire il json -->
	<a href="#" onclick="displayJSON()">Display JSON</a>
	<a href="#" onclick="hideJSON()">Hide JSON</a>
	<br />
	<input type="file" id="selectFiles" value="Import" />
	<div id="container"></div>

	<script type="text/javascript">
	  let isDisplayed=false;	//mantiene lo stato del panel (se sta mostrando o meno i JSON)
	  
		
	  //permette l'applicazione dello stile (inserendo dell'html usato dal css)
	  function syntaxHighlight(json) {
		  json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
		  return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
			  var cls = 'number';
			  if (/^"/.test(match)) {
				  if (/:$/.test(match)) {
					  cls = 'key';
				  } else {
					  cls = 'string';
				  }
			  } else if (/true|false/.test(match)) {
				  cls = 'boolean';
			  } else if (/null/.test(match)) {
				  cls = 'null';
			  }
			  return '<span class="' + cls + '">' + match + '</span>';
		  });
	  }
	  
	  //dato un url, esegue un fetch e restituisce un array di stringhe rappresentanti i JSON ottenuti
	  async function getJSON(url){
		try {
		  const response  = await fetch(url);
		  const json = await response.json();
		  const data = [];
		  for(i=0;i<json.length;i++){
			data[i] = JSON.stringify(json[i], null, 2);
		  }
		  return data;
		} catch (err) {
		  console.log(err);
		}
	  }
		//evento che si attiva ogni nuovo file importato
		function onChange(event) {
			var reader = new FileReader();
			reader.onload = onReaderLoad;
			reader.readAsText(event.target.files[0]);
		}

		//evento che si attiva al caricamento di un file
		function onReaderLoad(event){
			document.getElementById("container").innerHTML = ""; //svuoto il container
			console.log(event.target.result);
			var obj = JSON.parse(event.target.result);	//parsing del JSON
			
			for (var i = 0; i < obj.nodes.length; i++) { //costruisco la definizione della rete
				var string = "";
				var node = obj.nodes[i];
				string = string.concat("Node: ", node.name, "\n\nValues: \n");
				
				for(var j = 0; j < node.values.length; j++){
					var value = node.values[j];
					string = string.concat("\tName: ", value.name, "\n\tType: ", value.type, "\n\tValue: ", value.value, "\n");
				}
				string = string.concat("\nParents: \n");
				for(var j = 0; j < node.parents.length; j++){
					var parent = node.parents[j];
					string = string.concat("\t",parent, "\n");
				}
				string = string.concat("\n CPT: \n ");
				for(var j = 0; j < node.cpt.length; j++){
					var cptValue = node.cpt[j];
					string = string.concat("\t[",cptValue, "]\n");
				}
				
				document.getElementById("container").insertAdjacentHTML("beforeend", "<pre>"+syntaxHighlight(string)+"</pre>");
			}
		}
	 
	document.getElementById('selectFiles').addEventListener('change', onChange);
		  
	  
	  //chiede e mostra i JSON
	  async function displayJSON(){
		if(!isDisplayed){
		  document.getElementById("container").style.display = "inline";
		  isDisplayed=true;
		}
	  }
	  
	  //nasconde i JSON
	  function hideJSON(){
		isDisplayed=false;
		document.getElementById("container").style.display = "none";
	  }

	</script>
</div>
