<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Monitoring refresh rate</h5>
        <div class="gf-form">
            <label class="gf-form-label query-keyword">Status:</label>
            <input type="text" class="gf-form-input max-width-20 ng-pristine ng-untouched ng-valid ng-empty" disabled
                   ng-model="ctrl.monitoring_message" ng-model-onblur="">
        </div>
        <gf-form-switch class="gf-form" label="Align" tooltip="Align left and right Y-axes" label-class="width-6" switch-class="width-5"
                        checked="ctrl.panel.graph_connected_to_network" on-change="ctrl.draw_network()">
            <label for="check-324" class="gf-form-label width-6 pointer">Update graph with real probabilities</label>
            <div class="gf-form-switch width-5">
                <input id="check-324" type="checkbox"class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="check-324" data-on="Yes" data-off="No"></label>
            </div>
        </gf-form-switch>
        <div class="gf-form">
            <label class="gf-form-label width-5">Seconds</label>
            <input type="number" class="gf-form-input width-5" ng-model="ctrl.panel.secondToRefresh"
                   ng-change="ctrl.setSecond()"/>
            <button ng-click="ctrl.start()" id="start_button" class="btn btn-success">Start</button>
            <button ng-click="ctrl.stop()" id="stop_button" class="btn btn-danger">Stop</button>
        </div>
        <div class="gf-form">
            <button ng-click="ctrl.runUpdate()" id="manual_button" class="btn btn-secondary" style="margin-top: 1em">
                Manual refresh
            </button>
        </div>

    </div>
</div>
