<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Import or edit JSON network</h5>
        <div class="gf-form">
            <label class="gf-form-label width-20">Upload JSON file</label>
            <dash-upload on-upload="ctrl.onUpload(dash)"></dash-upload>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-20">Edit or insert network</label>
            <textarea id="network-txt" class="gf-form-input width-20 height-20" ng-model="ctrl.panel.jsonContent" ng-change="ctrl.render()" ng-model-onblur></textarea>
        </div>
        <div class="gf-form">
            <button ng-click="ctrl.downloadNetwork('rete.json', 'network-txt')" id="dwn-btn" class="btn btn-inverse">Download network</button>
        </div>
    </div>
</div>
