<div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label">Data Source</label>
        <gf-form-dropdown model="ctrl.panelDsValue" css-class="gf-size-auto"
                          lookup-text="true"
                          get-options="ctrl.getOptions(true)"
                          on-change="ctrl.datasourceChanged($option)">
        </gf-form-dropdown>
          </div>
  
          <div class="gf-form gf-form--grow">
              <label class="gf-form-label gf-form-label--grow"></label>
          </div>
          <div class="gf-form" ng-if="ctrl.queryOptions">
              <a class="gf-form-label" ng-click="ctrl.toggleOptions()">
                  <i class="fa fa-fw fa-caret-right" ng-hide="ctrl.optionsOpen"></i><i class="fa fa-fw fa-caret-down" ng-show="ctrl.optionsOpen"></i>Options
              </a>
          </div>
          <div class="gf-form" ng-if="ctrl.hasQueryHelp">
              <button class="gf-form-label" ng-click="ctrl.toggleHelp()">
                  <i class="fa fa-fw fa-caret-right" ng-hide="ctrl.helpOpen"></i><i class="fa fa-fw fa-caret-down" ng-show="ctrl.helpOpen"></i>Help
              </button>
          </div>
          <div class="gf-form">
              <button class="gf-form-label" ng-click="ctrl.toggleQueryTroubleshooter()" bs-tooltip="'Display query request & response'">
                  <i class="fa fa-fw fa-caret-right" ng-hide="ctrl.queryTroubleshooterOpen"></i><i class="fa fa-fw fa-caret-down" ng-show="ctrl.queryTroubleshooterOpen"></i>Query Inspector
              </button>
          </div>
      </div>
      <div class="gf-form">
        <button ng-click="ctrl.datasourceTest()" id="test-btn" class="btn btn-inverse">Test datasource</button>
    </div>
    </div>
    