<!DOCTYPE HTML>
<html>
<head>

</head>
    <body>
    <h1>Test page</h1>
    <svg id="bbn"></svg>
    <script src="net_scripts/d3.min.js"></script>
    <script src="net_scripts/lodash.min.js"></script>
    <script src="net_scripts/graphlib.core.min.js"></script>
    <script src="net_scripts/dagre.core.min.js"></script>
    <script src="net_scripts/jsbayes.js"></script>
    <script src="net_scripts/jsbayes-viz.js"></script>
    <script>
      var graph = jsbayes.newGraph();
      var n1 = graph.addNode('n1', ['t', 'f']);
      var n2 = graph.addNode('n2', ['t', 'f']);
      var n3 = graph.addNode('n3', ['t', 'f']);
      var n4 = graph.addNode('n4', ['t', 'f']);
      var n5 = graph.addNode('n5', ['0', '1', '2']);

      n2.addParent(n1);
      n3.addParent(n2);
      n3.addParent(n4);
      n5.addParent(n4);

      graph.reinit();
      graph.sample(10000);

      var lol = "ciaone";

      var g = jsbayesviz.fromGraph(graph);
    </script>
    <script>
      jsbayesviz.draw({
        id: '#bbn',
        width: 800,
        height: 800,
        graph: g,
        samples: 15000
      });
    </script>
    </body>
</html>
